<div id="nav">
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon id="menu-icon" svgIcon="menu"></mat-icon>
  </button>
  <mat-menu id="nav-menu" #menu="matMenu">
    <button mat-menu-item routerLink="/form"  [ngClass]="router.url === '/form'? 'active':''">Form</button>
    <button mat-menu-item routerLink="/transcripts"  [ngClass]="router.url === '/transcripts'? 'active':''"> Transcripts</button>
    <a mat-menu-item   href="/auth/logout"> Logout</a>
  </mat-menu>
  
</div>
<section fxLayout="column" fxLayoutAlign="center center">
  
    <mat-card fxLayout="column" fxLayoutAlign="center" >
      <mat-card-title style="text-align: center;margin-bottom: 50px;">NEW TRANSCRIPTION</mat-card-title>
      <form [formGroup]="trialForm" (submit)="submit()">
        <div fxLayout="row" fxLayoutAlign="center center">
          <mat-form-field fxFlex="58.25%"  appearance="outline">
            <mat-label> Account ID
            </mat-label>
            <input type="text" matInput formControlName="account_id" required>
            <mat-error *ngIf="trialForm.controls['account_id'].errors?.['required'] || (trialForm.controls['account_id'].touched && trialForm.controls['account_id'].invalid && trialForm.controls['account_id'].errors !== null)">
             <span>This field is mandatory.</span> 
            </mat-error>
          </mat-form-field>
          
        </div>
        
  
  
    
    
    
        <div fxLayout="row" class="block-1" fxLayoutGap="0.5em" fxLayoutAlign="center center">
          
    
    <mat-form-field fxFlex="58.25%"  fxFlexFill appearance="outline">
      <mat-label> Language
      </mat-label>
      <mat-select formControlName="lang" required>
        <mat-option *ngFor="let lang of langList" [value]="lang.value">
          {{lang.viewValue}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="trialForm.controls['lang'].errors?.['required'] || (trialForm.controls['lang'].touched && trialForm.controls['lang'].invalid)">
        <span *ngIf="trialForm.controls['lang'].errors['required'] || trialForm.controls['lang'].errors !== null">This field is mandatory.</span>
      </mat-error>
    </mat-form-field>
  
  </div>
  
  <div fxLayout="row" class="block-3" fxLayoutGap="0.5em" fxLayoutAlign="center center">
    <mat-form-field fxFlex="58.25%"  fxFlexFill appearance="outline">
      <mat-label> Plans
      </mat-label>
      <mat-select multiple formControlName="plans" required>
        <mat-option *ngFor="let plan of plansList" [value]="plan.value">
          {{plan.viewValue}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="trialForm.controls['plans'].errors?.['required'] || (trialForm.controls['plans'].touched && trialForm.controls['plans'].invalid)">
        <span *ngIf="trialForm.controls['plans'].errors !== null || trialForm.controls['plans'].errors['required']">This field is mandatory.</span>
      </mat-error>
    </mat-form-field>
    
  </div>
  
  <div fxLayout="row" fxLayoutAlign="center center">
    <mat-form-field fxFlex="58.25%"  appearance="outline">
      <mat-label> Manual Transcript
      </mat-label>
      <textarea matInput formControlName="man_trans" placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
    
  </div>
  
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
    <mat-form-field fxFlex="28.5%"  appearance="outline">
      <mat-label> Start Time
      </mat-label>
      <input matInput formControlName="start_time" placeholder="HH:MM:SS" [value]="null"/>
      <mat-error *ngIf="trialForm.controls['start_time'].touched && trialForm.controls['start_time'].invalid && trialForm.controls['start_time'].errors !== null">
       <span>The required format is HH:MM:SS.</span> 
      </mat-error>
    </mat-form-field>
    <mat-form-field fxFlex="28.5%"  appearance="outline">
      <mat-label> End Time
      </mat-label>
      <input matInput formControlName="end_time" placeholder="HH:MM:SS" [value]="null"/>
      <mat-error *ngIf="trialForm.controls['end_time'].touched && trialForm.controls['end_time'].invalid && trialForm.controls['end_time'].errors !== null ">
       <span>The required format is HH:MM:SS.</span> 
      </mat-error>
    </mat-form-field>
    
  </div>
  
  <div fxLayout="row" class="upload" fxLayoutAlign="center center" >
    <input
        #fileInput
        id="file" 
        type="file" 
        accept="audio/*"
        (change)="onFileChange($event)"
        multiple
        required>
        <div *ngIf="trialForm.controls['fileSource'].invalid">
          <mat-error>
            <span>This field is mandatory.</span>
          </mat-error>
        </div>
  </div>
  <div id="error-message" *ngIf="trialForm.errors?.['noMatch']">
    <mat-error>
      <span>Start Time and End Time cannot be same</span>
    </mat-error>
  </div>
  
  <div fxLayout="row" class="submit-outer" fxLayoutAlign="center center" >
    <button fxFlex="58.25%" class="submit" fxFlexFill type="submit"> Submit</button>
  </div>
  </form>  
    </mat-card>
  
  </section>
  
  