.outer-container{
    text-align: center;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 10em;
}

.form-container{
    width: 25em; 
    margin: 0px auto; 
    
}

.form-field{
    display: block
}
input[type=file]::-webkit-file-upload-button {
    background: #673ab7;
    color: white;
    padding: 0.5em;
    border-color: #673ab7;
    border-radius: 0.5em;
    margin-right: 1em;
  }

.upload-outer{
    border-style: solid; 
    border-width: thin; 
    border-color: #E5E8E8; 
    border-radius:0.5em;
    padding: 0.75em;
    margin-bottom: 1em;
}
