<div class="outer-container">
  <h2> Yactraq Transcripts Trial </h2>
  
  <div class="form-container">
    <div *ngIf="formSubmitted === true">
      <h3 style="margin-bottom: 10px;"> Form Submitted Successfully. Please Check your email</h3>
    <button type="button" mat-raised-button color="primary" style="width : 10em;"  (click)="goBackToForm()"> Go Back </button>
    </div>
   
    <div *ngIf="formSubmitted === false && notAuthorised !== undefined">
      <h3 *ngIf="notAuthorised === true"style="margin-bottom: 10px;"> Not Authorised: {{message}} </h3>
      <h3 *ngIf="notAuthorised === false"style="margin-bottom: 10px;"> Service Unavailable: Form Submission Failed, Try again after some time </h3>
      <button type="button" mat-raised-button color="primary" style="width : 10em;"  (click)="goBackToForm()"> Go Back </button>
    </div>
    
    <form *ngIf="formSubmitted === false && notAuthorised === undefined" [formGroup]="trialForm" (submit)="submit()">
      <mat-form-field class="form-field" appearance="outline">
        <mat-label> Name
        </mat-label>
        <input matInput formControlName="name" required>
        <mat-error *ngIf="trialForm.controls['name'].touched && trialForm.controls['name'].invalid">
          <span *ngIf="trialForm.controls['name'].errors !== null && trialForm.controls['name'].errors['required']">This field is mandatory.</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label> E-mail
        </mat-label>
        <input matInput formControlName="email" required>
        <mat-error *ngIf="trialForm.controls['email'].touched && trialForm.controls['email'].invalid">
          <span *ngIf="trialForm.controls['email'].errors !== null && trialForm.controls['email'].errors['required']">This field is mandatory.</span>
          <span *ngIf="trialForm.controls['email'].errors !== null && trialForm.controls['email'].errors['email']"> Please enter a proper email</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label> Organisation
        </mat-label>
        <input matInput formControlName="org" required>
        <mat-error *ngIf="trialForm.controls['org'].touched && trialForm.controls['org'].invalid">
          <span *ngIf="trialForm.controls['org'].errors !== null && trialForm.controls['org'].errors['required']">This field is mandatory.</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Country</mat-label>
        <input type="text" matInput formControlName="country" [matAutocomplete]="country" required>
        <mat-autocomplete #country="matAutocomplete" [displayWith]="cNameDisplayFn">
          <mat-option *ngFor="let option of filteredCNameOptions | async" [value]="option">
            {{option.countryName}}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="trialForm.controls['country'].touched && trialForm.controls['country'].invalid">
          <span *ngIf="trialForm.controls['country'].errors !== null && trialForm.controls['country'].errors['required']">This field is mandatory.</span>
        </mat-error>
      </mat-form-field>
      <mat-grid-list cols="4" gutterSize="15px" rowHeight="1:1">
        <mat-grid-tile colspan="1">
          <mat-form-field style="width:100%; height: auto;" appearance="outline">
        <mat-label style="font-size: x-small;">Country Code</mat-label>
        <input type="text" matInput formControlName="ccode" [matAutocomplete]="auto" required>
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="cCodeDisplayFn">
          <mat-option *ngFor="let option of filteredCcodeOptions | async" [value]="option">
            {{option.countryCode}}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="trialForm.controls['ccode'].touched && trialForm.controls['ccode'].invalid">
          <span style="font-size:x-small; white-space: nowrap;" *ngIf="trialForm.controls['ccode'].errors !== null && trialForm.controls['ccode'].errors['required']">Required.</span>
        </mat-error>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="3">
          <mat-form-field style="width:100%;"appearance="outline">
            <mat-label> Phone Number
            </mat-label>
            <input matInput type="number" formControlName="phone" required>
            <mat-error *ngIf="trialForm.controls['phone'].touched && trialForm.controls['phone'].invalid">
              <span *ngIf="trialForm.controls['phone'].errors !== null && trialForm.controls['phone'].errors['required']">This field is mandatory.</span>
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>
        
      </mat-grid-list>

      <mat-form-field class="form-field" appearance="outline">
        <mat-label> Select Language </mat-label>
        <mat-select formControlName="lang" required>
          <mat-option *ngFor="let lang of langList" [value]="lang.value">
            {{lang.viewValue}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="trialForm.controls['lang'].touched && trialForm.controls['lang'].invalid">
          <span *ngIf="trialForm.controls['lang'].errors !== null && trialForm.controls['lang'].errors['required']">This field is mandatory.</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Select Plans (multiple) </mat-label>
        <mat-select multiple formControlName="plans" required>
          <mat-option *ngFor="let plan of plansList" [value]="plan.value">
            {{plan.viewValue}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="trialForm.controls['plans'].touched && trialForm.controls['plans'].invalid">
          <span *ngIf="trialForm.controls['plans'].errors !== null && trialForm.controls['plans'].errors['required']">This field is mandatory.</span>
        </mat-error>
      </mat-form-field>
      <div class="form-field upload-outer">
          <input #fileInput
              id="file" 
              type="file" 
              accept="audio/*"
              (change)="onFileChange($event)" required>
           
        
      </div>
      <button mat-raised-button color="primary" type="submit" [disabled]="!trialForm.valid" style="width : 10em;">Submit</button>
    </form>
  </div>
</div>