.outer-container{
    text-align: center;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 10em;
}

.form-container{
    width: 25em; 
    margin: 0px auto; 
    
}

.form-field{
    display: block
}
.submit-outer{
    margin-top: 1em;
}
.submit{
    background: #5c5cd6 ;
    color: white;
    border-color: #5c5cd6;
    padding: 0.5em;
    font-size: 16px;
    

}

mat-card {
    width: 850px;
    height: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto; 
  }
  section {
    vertical-align: middle;
    height: 100%;
  }
  .active{
    background-color: #f1f1f1;
}
#nav{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 10px;
        margin-right: 20px;
}